---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <div class="layout">
      <Sidebar />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  .layout {
    margin: 0 auto;
    min-height: calc(100vh - var(--header-height));
    margin-left: calc(var(--sidebar-width) + 2rem);
  }

  main {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 1em;
  }

  @media (max-width: 768px) {
    .layout {
      margin-left: 0;
    }
  }
</style>
